@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 20px !important;
    padding: 14px 0px;
  }
  .nav-link:hover {
    background-color: #1abc9c;
  }
  .navbar {
    max-height: 60px;
  }
  .navbar-brand {
    font-size: 30px !important;
  }
  .about-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .about-text {
    margin-bottom: 40px;
  }
  .about-text p {
    width: 45%;
  }
  form {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .start{
    height: 100vh;
  }
}

@media (min-width: 1400px) {
}
