html {
  font-size: 16px;
}
a {
  text-transform: capitalize;
}
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar {
  background-color: #2c3e50;
  position: fixed;
  z-index: 5;
  width: 100%;
}
.navbar-collapse {
  transition: all ease-out 0.3s;
}
.navbar-brand {
  color: #fff !important;
  font-weight: 700;
  font-size: 25px;
}
.navbar-toggler {
  color: #fff !important;
  padding: 8px 10px;
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
}
.navbar-nav {
  margin-top: 20px;
}
.nav-link {
  color: #fff !important;
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 500;
}
.start {
  background-color: #1abc9c;
  padding: 170px 0 70px 0;
  width: 100%;
}
.start img {
  width: 100%;
  max-width: 220px;
  display: inline-block;
  margin-bottom: 30px;
}
.title {
  color: #fff;
  font-weight: bold;
  font-size: 45px;
}
.star {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.star .line1 {
  width: 120px;
  height: 4px;
  background-color: #fff;
  margin-right: 10px;
}
.star .fa-star {
  color: #fff;
  font-size: 30px;
}
.star .line2 {
  width: 120px;
  height: 4px;
  background-color: #fff;
  margin-left: 10px;
}
.start p {
  color: #fff;
  font-size: 20px;
}
.portfolio {
  background-color: #ffffff;
  padding: 70px 0;
}
.portfolio h1,
.portfolio .fa-star,
.contact .fa-star {
  color: #2c3e50;
}
.portfolio .star .line1,
.portfolio .star .line2,
.contact .star .line1,
.contact .star .line2 {
  background-color: #2c3e50;
}
.portfolio img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
  border-radius: 8px;
  transition: all ease-out 0.3s;
}
.portfolio img:hover {
  transform: translateY(-20px);
}
.about {
  background-color: #1abc9c;
  padding: 70px 0 110px 0;
}
.about-text p {
  color: #fff;
  text-align: left;
  font-size: 20px;
}
.about-text {
  margin-bottom: 50px;
}
.about a {
  color: #fff;
  font-size: 20px;
  border: #fff 2px solid;
  padding: 17px 25px;
  border-radius: 8px;
  transition: all ease-out 0.2s;
}
.about a:hover {
  background-color: #fff;
  color: #000;
}
.contact {
  background-color: #ffffff;
  padding: 70px 0 100px 0;
}
.contact .star {
  margin-bottom: 70px;
}
.contact .title {
  color: #2c3e50;
  font-size: 40px;
}
#name,
#email,
#number,
#message {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(201, 194, 194);
  padding: 15px 10px;
  font-size: 23px;
  display: inline-block;
  margin-bottom: 20px;
}
#name:focus,
#email:focus,
#number:focus,
#message:focus {
  outline: none;
  border-bottom: 1px solid rgb(201, 194, 194);
}
#message {
  height: 150px;
}
#submit {
  color: #fff;
  padding: 9px 30px;
  border-radius: 4px;
  background-color: #1abc9c;
  border: #1abc9c 1px solid;
  font-size: 20px;
}
footer {
  background-color: #2c3e50;
  padding: 60px 0;
}
footer h2 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bold;
}
footer h4,
footer h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
footer h5 {
  margin-bottom: 50px;
}
footer .social {
  margin-top: 35px;
  margin-bottom: 30px;
}
footer .social a {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 30px;
  transition: all ease-out 0.3s;
}
footer .social a:nth-of-type(2) {
  margin-right: 20px;
  margin-left: 20px;
}
footer .social a:hover {
  background-color: #fff;
}
footer .social a:hover .brand {
  color: #000;
}
footer .social a:nth-of-type(3) {
  margin-right: 20px;
}
footer .social a .brand {
  color: #fff;
  font-size: 20px;
}
footer p:last-of-type {
  color: #fff;
  font-size: 20px;
}
footer .fa-heart {
  color: red;
}
footer a:last-of-type {
  color: #45e2c3;
}
